
.featured-cities-parent-container {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.featured-cities-child-container {
    box-sizing: border-box;
    position: inherit;
    text-align: center;
    max-width: 1200px;
    min-width: 600px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.city-icon-parent-container {
    padding: 0%;
    // position: relative;
    width: 300px;
    height: 150px;
}

.city-image-icon {
    overflow: hidden;
    padding: 0%;
    margin: 0%;
    width: inherit;
    height: inherit;
    // background-position: cover;
}

.city-image-icon-name {
    text-align: center;
    position: absolute;
    z-index: 100;
    padding: 0px;
    top: 0;
    bottom: 0;
    // vertical-align: middle;
}

