.featured-restaurants-container {
    width: 100%;
    text-align: center;
}

.featured-restaurants-container  ul { //the ul is the child so we hve to refer to the ul (> *)
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    overflow-x: auto;

    margin: 20px auto;

    height: auto;
    // width: 93%;
}

.featured-restaurant-item-container {
    display: inline-block;
    height: 280px;
    text-align: center;
    // padding: 0 2rem;
    // margin: 0 5rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.12);
}

.featured-restaurant-item-container:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);
}

.featured-restaurant-icon-parent {
    height: auto;
    width: 300px;

    flex: 0 0 auto;
    overflow: hidden;
}

.featured-restaurant-icon-child img {
    object-fit: cover;
    height: 200px;
    width: 300px;
}

.home-page-restaurant-name {
    height: 60px;
    width: 300px;
    padding-top: .85rem;
    font-weight: 1000;
    font-family: 'Source Sans Pro', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: .85rem;
    box-sizing: border-box;
}

.featured-restaurant-name {
    font-size: 20px;
    font-weight: 200;
}

.featured-restaurant-neighborhood {
    font-size: 15px;
    color: gray;
}