.featured-restaurants-container {
    width: 100%;
    text-align: center;
}

.featured-restaurants-container  ul { //the ul is the child so we hve to refer to the ul (> *)
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    overflow-x: auto;

    margin: 20px;

    height: auto;
    // width: 93%;
}

.featured-restaurant-item-container {
    display: inline-block;
    height: 250px;
    text-align: center;
    // padding: 0 2rem;
    margin: 0 3rem;
    margin-bottom: .85rem;
    border: 2px solid rgba(0, 0, 0, 0.12);
}

.featured-restaurant-item-container:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);
}

.home-page-restaurant-name {
    height: 40px;
    width: 300px;
    padding-top: .85rem;
    font-weight: 1000;
    font-family: 'Source Sans Pro', sans-serif;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.featured-restaurant-icon-parent {
    height: auto;
    width: 300px;

    flex: 0 0 auto;
    overflow: hidden;
}

.featured-restaurant-icon-child img {
    object-fit: cover;
    height: 200px;
    width: 300px;
    
}