@media screen and (max-width: 1132px) {
    .profile-sub-container img {
        display: none;
    }
}

.profile-page-window-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start; 
    width: 100%;
}

.profile-greeting-container {
    width: 100%;
}

.profile-greeting {
    background-color: rgb(255,255,255);
    width: 100%;
    padding: .875rem 3rem;
    border-top: 2px solid rgb(247,247,247);
    font-size: 43px;
    font-weight: 180;
}

.profile-greeting-nav {
    background-color: rgb(255,255,255);
    width: 100%;
    padding: 0 3rem;
    border-top: 2px solid rgb(247,247,247);
    font-size: 40px;
    font-weight: 200;
}

#profile-greeting-nav {
    color: rgb(34,123,152);
    font-size: 15px;
    padding: .875rem 0;
    display: inline-block;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgb(34,123,152);
    outline-offset: -2px;

}

.profile-sub-container-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;

}

.profile-sub-container {
    width: 90%;
    background-color: rgb(255,255,255);
    display: flex;
    flex-direction: row;
    margin: 2rem 1.5rem;
}

.profile-sub-container img {
    width: 250px;
    height: 250px;
    background-position: cover;
    border-radius: 2px;
    margin: 1.5rem 1.5rem;
    padding: 1rem 1rem;
    border: 2px solid rgb(247,247,247);
}

.profile-res-info {
    margin: 1.5rem 1.5rem;
    // padding: 1rem 1rem;
    border: 2px solid rgb(247,247,247);
    flex: 1;
    width: 100%;
}

.user-profile-res-restaurant-name {
    flex-shrink: 1;
    background-color: rgb(255,255,255);
    // width: 100%;
    padding: .85rem 2rem;
    // margin: 1rem 1rem;
    border-bottom: 2px solid rgb(247,247,247);
    font-size: 35px;
    font-weight: 200;
    font-family: 'Source Sans Pro', sans-serif;
}

.user-profile-reservation-overview {
    padding: .85rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    font-family: 'Varela Round', sans-serif;
}

.user-profile-reservation-overview > div {
    padding-right: 2rem;
}

.user-profile-reservation-overview-sections > div {
    padding-bottom: .85rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.user-profile-res-partyof {
    font-size: 20px;
    text-decoration: underline;
}

// .user-profile-res-contact {

// }

.user-profile-reservation-date {
    height: 50%;
    color: rgb(34,123,152);
    border: 2px double  rgb(247,247,247);
    padding: 1em;
}

.update-res-form {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: space-evenly;
    width: 25%;
}

.update-res-form input {
    margin: .5em .5em;
    padding: .4em .4em;
    flex-shrink: 3;
}

.update-res-form select {
    margin: .5em .5em;
    padding: .4em .4em;
    flex-shrink: 3;
}

.update-res-form button {
    margin: .5em .5em;
    padding: .4em .4em;
    flex-shrink: 3;
}

.update-party-size {
    width: 100%;
    box-shadow: none;
    border: 2px solid rgb(247,247,247);
    border-radius: 3px;
    flex-shrink: 3;
}

.update-res-date {
    width: 100%;
    box-shadow: none;
    border: 2px solid rgb(247,247,247);
    border-radius: 3px;
    flex-shrink: 3;
}

.update-res-date input{
    box-shadow: none;
    border: none;
}

// .update-time {
//     width: 100%;
// }

.submit-update {
    margin: .85rem 25%;
    width: 100%;
    padding: .4 .4;
    border-radius: 3%;
    text-align: center;
    background-color: rgba(211, 211, 211, .3);
}

.submit-update:hover {
    background-color: rgba(211, 211, 211, 0.6);
}

.delete-reservation {
    border-radius: 3px;
    // margin: .4rem;
    background-color: rgba(218,55,66, .85);
    color: rgb(255,255,255);
    text-align: center;
    cursor: pointer;
    width: 100%;
    box-shadow: none;
    position: relative;
}

.delete-reservation:hover {
    background-color: rgb(218, 55, 66);
}