//general/applies to all
#icon-resize img {
    height: 26px;
    width: 26px;
}

// reservation
.restaurant-show-reservation-container {
    position: sticky;
    top: 0%;

    border-radius: 3px;
    box-sizing: border-box;
    margin: 1px;
    padding: 1.0rem 1.0rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);

    background-color: rgb(255,255,255);
}

.reservation-container-header {
    height: 42px;
    padding: 4%;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    
    text-align: center;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    color: black;
    background-color: rgb(255,255,255);
}

// .dropdown-res {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     -ms-appearance: none;      
//     -o-appearance: none;         
//     appearance: none;
//     display: none;
//     outline: none;
// }

.reservation-datetime {
    position: relative;
    width: 50%;
}

.reservation-datetime input {
    width: 90%;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 4px;
    font-size: 11px;
}

.restaurant-show-res-submit {
    height: 40px;
    width: 100%;
    border-radius: 4px;
    background-color: rgb(218,55,66);
    color: rgb(255,255,255);
    text-align: center;
}

// navbar overview

.navbar-overview-container {
    padding: 3em 2em;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar-item div {
    padding: .5em .5em;
}

.navbar-item img{
    height: 30px;
    width: 30px;
}
