.restaurant-index-page-container {
    margin-top: 25px;
    padding-right: 10vw;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.restaurant-index-navbar-container {
    width: 10vw;
    margin-right: 5vw;
}

.sticky-navbar {
    position: sticky;
    top: 0px;
}

.price-filter-container {
    padding: .875rem 0;
    border-bottom: 1px solid rgb(204, 211, 222);
    display: flex;
    flex-direction: column;
}

.price-buttons {
    border-radius: 4px;
    margin: .85em 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    button {
        border: 1px solid rgba(154, 145, 145, 0.5);
        flex: 1 1;
    }
}

.price-filter-container button {
    text-align: center;
    width: 50px;
    height: 35px;
}

.cuisine-filter {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
    width: 100%;
    padding: .875rem 0;
    border-bottom: 1px solid rgb(204,211,222);


    img {
        height: 20px;
        width: 20px;
        margin: 0 .4em;
    }
}

@media screen and (max-width: 1000px) {
    .sticky-navbar {
        display: none;
    }

    .restaurant-index-page-container {
        width: 90%;
    }
}

.restaurant-list-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 775px;
}

.dummie-search-results {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

.search-results-guide {
    font-weight: 900;
}

.search-results-parameter {
    padding-left: .2rem;
    font-style: italic;
    color: rgb(152, 152, 152)
}

.restaurant-index-item-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding: .875rem 0;
    border-top: 1px solid rgb(204,211,222);
    width: 100%;
}

.index-item-image-container {
    height: 200px;
    width: 200px;
}

.index-item-image-container * {
    width: 100%;
    height: 100%;
    border-radius: 6%;
}

.index-item-overview-container {
    box-sizing: border-box;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    flex: 1;
}

.restaurant-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.restaurantTitle {
    color: rgb(36,128,158);
    margin: 0px;
}

.index-restaurant-item-pricing {
    margin: 0px;
}

.overview-rating {
    display: flex;
    flex-direction: column;
}

.rating-subtext {
    padding-bottom: 7px;
    font-size: 12px;
    color: gray;
}

.last-star > * {
    height: 25px;
    width: 13px;
}

.rating-stars {
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 25px;
}

.index-item-neighborhood {
    font-size: 12px;
    color: gray;
}


.index-item-overview-bookstat {
    font-size: 15px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: nowrap;
    overflow-y: scroll;
    height: 50px;
}

.restaurant-index-reservation-buttons button {
    flex: 0 0 auto;
    width: 100px;
    height: 35px;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 4px;
    text-align: center;
    background-color: rgba(218,55,66,.8);
    color: rgb(255,255,255);
}

.restaurant-index-reservation-buttons button:hover {
    text-align: center;
    background-color: rgb(218,55,66,);
}