.search-bar-parent {
  position: relative;
}

//search bar background, home
#purple-screen {
  position: absolute;
  margin: 1px;
  width: 100%;
  height: 450px;
  text-align: center;
  background-color:rgba(44,16,89,.3);
  z-index: 12;
}

#search-bar {
    margin: 1px;
    width: 100%;
    height: 450px;
    
}

#search-bar img {
    position: absolute;
    height: inherit;
    width: inherit;
    text-align: center;
    padding: 0px;
    border: none;
    background: #fff;
    object-fit: cover;
  }

  #search-bar img:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 10s;
    animation-duration: 5s;
    z-index: 10;
  }
  #search-bar img:nth-of-type(2) {
    z-index: 5;
  }
  #search-bar img:nth-of-type(n+3) {
    display: none;
  }

  @keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
  }

  //search bar background, index
  .index-search-bar-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0vw 0vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 25%;
    height: 300px;
    position: relative;
  }

  .index-search-bar-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }


  //search form
  .search-form-grandparent {
    display: block;
    position: absolute;
    z-index: 13;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .search-form-parent {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 0%;
    margin: 0%;
    padding: 0%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

 .search-bar-smooshed {
   display: flex;
   flex-direction: row;
   align-items: stretch;
   justify-content: center;
   margin-right: 10px;

   height: 100%;
   border-radius: 5px;
   background-color: rgb(255,255,255);
 }

 .search-bar-island {
   margin-left: 10px;
   margin-right: 10px;
   height: 100%;
   width: 300px;
   border-radius: 5px;
   background-color: rgb(255,255,255);
 }

 .submit-search {
  margin-left: 10px;
  height: 100%;
  width: 150px;
  border: none;

  border-radius: 5px;
  background-color: rgb(218,55,66);
  color: rgb(255,255,255);
  text-align: center;
 }

 .search-bar-input{
   margin: 0%;
   padding: 0%;
   height: 100%;
   width: inherit;
   border-top: none;
   border-bottom: none;
   border-left: 1px solid rgb(204,211,222);
   border-right: 1px solid rgb(204,211,222);

   text-align: center;
 }


 //form dropdowns
 .search-bar-dropdown {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 100px;

   border-left: 1px solid rgb(204,211,222);
   border-right: 1px solid rgb(204,211,222);
   font-family: 'Source Sans Pro', sans-serif;
   color: rgb(117,117,117);
  }
  
  .Dropdown-menu {
    background-color: rgb(255,255,255);
    overflow: auto;
    // border-radius: 5%;
    position: absolute;
    top: 100%;
  }

  .Dropdown-option {
    width: 100px;
  }

  .search-bar-dropdown:hover {
    cursor: pointer;
  }

  .Dropdown-option:hover {
    background-color: rgba(60, 4, 150, .4);
    color: black;
  }