// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: rgb(247,247,247);
    font-family: 'VeralaRound', sans-serif;
}

//misc
.home-content-container {
    padding: 2.0rem 2.0rem;
}

.home-icon-title {
    padding: .875rem .875rem;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    margin: 20px;
    color: rgb(51,51,51);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.full {
    width: 100%;
}